@charset "UTF-8";
/*---------------------@import FUENTES--------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");
/*----------@import para SASS-----------*/
/*------------Reseteos de Estilos--------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: #000;
}

/*--------VARIABLES--------------*/
/* Estilos para El Navegador ---------------------------------------------------------------- */
.header {
  background-color: #111;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header .logo {
  margin-left: 30px;
  padding: 10px;
  width: 150px;
}
.header .colorH {
  background-color: #f00;
}
.header .desplegable {
  background-color: #111;
}
.header .navbar-nav a {
  color: #fff;
}
.header .navbar-nav a:hover {
  color: #f00;
}
.header .navbar-nav .activar {
  color: #f00;
}
.header .redes__nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  margin: 20px;
}
.header .redes__nav ul img {
  width: 24px;
  margin: 5px;
}

@media (max-width: 992px) {
  .redes__nav {
    display: none;
  }
}
/* estilos para el INDEX ----------------------------------------------------------*/
.tituloPrincipal {
  color: #fff;
  position: absolute;
  top: 300px;
  left: 60px;
  z-index: 5;
  font-weight: 700;
}

.imgCarrusel {
  width: 100%;
  max-height: 500px;
}

.texto25años {
  padding: 20px;
  text-align: center;
  color: #f00;
  font-size: 30px;
}

.card {
  border-radius: 30px;
  box-shadow: 1px 1px 20px rgba(255, 0, 0, 0.281);
  align-items: center;
  background-color: transparent;
  width: 20%;
  margin: 30px 0;
}
.card .card__img {
  width: 30%;
  margin: 10px;
}
.card .card__info {
  padding: 30px;
  text-align: center;
  color: #fff;
}

@media (max-width: 992px) {
  .card {
    width: 40%;
  }
}
@media (max-width: 576px) {
  .tituloPrincipal {
    top: 25%;
    left: 5%;
  }
  .card {
    width: 80%;
  }
}
/* estilos para SERVICIOS ---------------------------------------------------------- */
.tituloP {
  color: #f00;
  text-align: center;
  margin-top: 15px;
  font-size: 36px;
  font-weight: 800;
}

.contenedorServicios {
  color: #fff;
}
.contenedorServicios .tituloServicios {
  margin: 40px;
  text-align: center;
}
.contenedorServicios .titulosH3 {
  font-size: 18px;
  margin: 25px 30px;
}
.contenedorServicios .parrafoServicios {
  margin: 5px 30px;
}
.contenedorServicios .imgServicios {
  height: 50%;
}

.flexReverse {
  flex-direction: row-reverse;
}

/* estilos para GALERIA ----------------------------------------------------------- */
.tituloGaleria {
  color: #f00;
}

.infoGaleria {
  color: #fff;
  text-align: center;
  margin: 5px;
  font-size: 18px;
}

/* estilos para NOSOTROS --------------------------------------------------------------*/
.fondoNosotros {
  background-image: url(../image/nosotros.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.infoNosotros {
  color: #fff;
}
.infoNosotros .tituloNosotros {
  color: #f00;
}

.imgCaras {
  color: #fff;
  display: flex;
  align-items: center;
}
.imgCaras img {
  width: 150px;
  margin: 10px 40px;
}
.imgCaras .carasInfo .nombresNosotros {
  font-size: 26px;
}

/* estilos para CONTACTOS -------------------------------------------------------------- */
.formulario {
  padding: 20px 0;
  background-color: #222;
  border: 20px solid #000;
  outline: 3px solid #f00;
}
.formulario img {
  background-color: #fff;
  width: 30%;
  margin: 10px;
  padding: 15px;
  border-radius: 50%;
}
.formulario .formBox, .formulario textarea {
  border: none;
  border-bottom: 3px solid #f00;
  background: transparent;
  color: #fff;
}
.formulario .formBox:focus, .formulario textarea:focus {
  background: linear-gradient(to bottom, transparent, #111);
  outline: none;
  border-bottom: 3px solid #f00;
}
.formulario textarea {
  min-height: 150px;
  resize: none;
}
.formulario input[type=submit] {
  background-color: #f00;
  border-color: none;
  border-radius: 7px;
  padding: 12px;
}

.infoContactos {
  color: #fff;
}
.infoContactos .tituloContactos {
  color: #f00;
}
.infoContactos h2 {
  font-size: 18px;
}

/* Estilo Footer --------------------------------------------------------------------------- */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #111;
  padding: 0 30px;
  align-items: center;
}
footer .contactos__footer {
  color: #fff;
  padding: 10px;
}
footer .contactos__footer p {
  margin: 5px;
  text-align: center;
}
footer h3 {
  color: #bbb;
  margin: 10px;
  font-size: 16px;
  text-align: center;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin: 7px;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
}
footer ul li a:hover {
  color: #888;
}
footer ul li a img {
  width: 15px;
  margin: 0 10px;
}

/* ------------------------------------@media 576px-------------------- */
@media (max-width: 576px) {
  footer {
    flex-direction: column;
    order: 1;
  }
  footer .logoFooter {
    order: 3;
    margin: 10px;
  }
}/*# sourceMappingURL=style.css.map */