

/* estilos para CONTACTOS -------------------------------------------------------------- */


.formulario{
    padding: map-get($formulario , padding); 
    background-color: #222;
    border: 20px solid #000;
    outline: map-get($formulario, borde );

    img{
        background-color: #fff;
        @include tamanio (30%, 10px);
        padding: 15px;
        border-radius: 50%;
    }
    .formBox{
        border: map-get($formulario, sinBorde );
        border-bottom: map-get($formulario, borde );
        background: transparent;
        color: $colorTexto;
        &:focus {
            background: linear-gradient(to bottom, transparent,#111);
            outline: map-get($formulario, sinBorde );
            border-bottom: map-get($formulario, borde );
        }
    }
    textarea{
        @extend .formBox; //incluye todas las propiedades de la etiqueta .formBox
        min-height: 150px;
        resize: none;
    }

    input[type="submit"]{
        background-color: $colorPrincipal;
        border-color: map-get($formulario, sinBorde );
        border-radius: 7px;
        padding: 12px;
    }
    
}

.infoContactos{
    color: $colorTexto;
    .tituloContactos{
        color:$colorPrincipal;
    }
    h2{
        font-size: 18px;
    }
}