
/* estilos para GALERIA ----------------------------------------------------------- */


.tituloGaleria{
    color: $colorPrincipal;
}
.infoGaleria{
    color: $colorTexto;
    text-align: center;
    margin: 5px;
    font-size: 18px;
}