
/* estilos para NOSOTROS --------------------------------------------------------------*/

.fondoNosotros{
    background-image: url(../image/nosotros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.infoNosotros{
    color: $colorTexto;
}

.imgCaras{
    color: $colorTexto;
    display: flex;
    align-items: center;

    img{
        width: 150px;
        margin: 10px 40px;
    }
}