

/* estilos para SERVICIOS ---------------------------------------------------------- */

.tituloP{
    color: $colorPrincipal;
    text-align: center;
    margin-top: 15px;
    font-size: 36px;
    font-weight: 800;
}
.contenedorServicios{
    color: $colorTexto;

    .tituloServicios{
        margin: 40px;
        text-align: center;
    }
    .titulosH3{
        font-size: 18px;
        margin: 25px 30px;
        
    }
    .parrafoServicios{
        margin: 5px 30px;
    }
    
    .imgServicios{
        height: 50%;
    }

}

.flexReverse{
    flex-direction: row-reverse;
}

